<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.css">
    <title>Document</title>
</head>
<body>
    <div class="topnav">
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
        </ul>
    </nav>
    </div>
    
    <img src="img/13401.jpg" alt="" class="responsive">

    <div class="texto1">New China Chinese Restaurant offers authentic and delicious tasting Chinese cuisine in New Orleans, LA.  New China's convenient location and affordable prices make our restaurant a natural choice for dine-in, take-out meals in the New Orleans community. Our restaurant is known for its variety of taste and high-quality fresh ingredients. Come and experience our friendly atmosphere and excellent service.
    </div>

    <div class="texto2">Start ordering online by clicking the button below. Simply select the menu items you want, add them to your cart and checkout. Your order will be sent to the restaurant and will be ready at the time you specify. It's that easy!</div>

    <div class="contact1">
        <h1>Contact</h1>
        <p>1885 Rousseau St</p>
        <p>New Orleans, LA 70130</p>
        <p>(504) 522-8151</p>
        <img src="img/map/staticmap.png" alt="" width="400px">
    </div>

    <section>
        <div class="example-label">Flat</div>
        <div class="example-button-row">
          <button mat-flat-button color="primary">Primary</button>
          <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
        </div>
      </section>

</body>
</html>